@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&family=Zen+Dots&display=swap'); 

*{
    font-family: 'Ubuntu', sans-serif;
}

.container{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 450px
}

.titulo{
    display: flex;
    text-align: start;
    justify-content: start;
}

.botones{
    align-self: flex-start;
    display: flex;
    gap: 20px;
}

.googleBtn{
    background-color: #1a73e8;
    color: white;
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 226px;
    display: flex;
    align-items: center;
    padding: 2px;
    cursor: pointer;
}

.googleBtn:hover{
    opacity: 0.8;
}

.googleBtn picture{
    width: 35px;
    height: 35px;
    background-color: white;
    border-radius: 2px 0px 0px 2px ;
    display: flex;
    align-items: center;
    justify-content: center;
}

.googleBtn picture img{
    width: 75%;
}

.googleBtn span{
    color: white;
    font-weight: 500;
    padding: 15px;
}

.twitterBtn{
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.twitterBtn:hover{
    background-color: #ddd;
}

.twitterBtn picture img{
    width: 60%;
}

.separator{
    display: flex;
    width: 100%;
    gap: 15px;
}

.separator hr{
    flex-grow: 1;
    border: none;
    border-top: 1px solid #ccc;
}

.separator span{
    color: #8b8b8b;
}

form{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 30px;
}

.sectionInputs{
    display: flex;
    gap: 10px;
    width: 100%;
}

label{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

label span{
    font-weight: 700;
}

label input{
    width: 90%;
    background-color: #f3f3f4;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;
    font-size: 14pt;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.sectionInputs label input{
    width: 80%;
    background-color: #f3f3f4;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;
    font-size: 14pt;
}

label input:hover{
    background-color: white;
    border: solid 1px #f3f3f4;
    box-shadow: 0 0 10px #f1aac6;
}

label input:focus{
    background-color: white;
    border: solid 1px #f3f3f4;
    box-shadow: 0 0 10px #f1aac6;
}

.checkboxLabel{
    display: flex;
    flex-direction: row;
}

.checkboxLabel input[type='checkbox']{
    width: 20px;
}

.checkboxLabel span{
    font-weight: 400;
}

.submitBtn{
    background-color: #ea4c89 ;
    color: white;
    font-weight: 600;
    font-size: 13pt;
    text-align: center;
    padding: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.submitBtn:hover{
    opacity: 0.7;
}