.colores{
    color: blue;
}
.color-hexa{
    color: #531CB3
}

/*El ultimo valor del rgb es la opacidad del color, 
el valor maximo es el 1, y de para abajo se coloca mas claro 
este color que se tiene en el rgb
*/
.color-rgb{
    color: rgb(0, 255, 0, 0.2);
}

/*Fondos*/
.fondo{
    /* background-color: blanchedalmond; */
    background-image: url('https://i.pinimg.com/originals/ff/86/1b/ff861bc1b7d96d021ef8dcc41baa72fe.jpg');
    background-position: bottom bottom;
}