.btnMain, .btnMainS {
  padding: 0.3rem 1.5rem;
  border-radius: 0.25rem;
  background-color: #0075ff;
  color: white;
  border: none;
  border: solid 1px #0075ff;
}
.btnMain:hover, .btnMainS:hover {
  background-color: white;
  color: #0075ff;
}
.btnMainS {
  font-size: 0.75rem;
  padding: 0.1rem 1rem;
}

.btnSec, .btnSecS {
  padding: 0.3rem 1.5rem;
  border-radius: 0.25rem;
  color: black;
  background-color: transparent;
  border: none;
}
.btnSec:hover, .btnSecS:hover {
  color: #888;
}
.btnSecS {
  font-size: 0.75rem;
  padding: 0.1rem 1rem;
}

.mainMenu {
  margin-bottom: 0;
}
.mainMenu li {
  font-size: 1rem;
  list-style: none;
  display: inline;
  margin-right: 2rem;
}
.mainMenu li a {
  color: black;
  text-decoration: none;
}
.mainMenu li a:hover {
  text-decoration: underline;
}

.iconSm i {
  font-size: 1.25rem;
  padding: 0.4rem 0.65rem;
  color: #0075ff;
  border-radius: 58%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3333333333);
}

.feature {
  display: flex;
  flex-direction: column;
}
.feature .icon {
  color: #0075ff;
  font-size: 10rem;
  text-align: center;
}
.feature .description .title {
  font-size: 2rem;
  text-align: center;
}
.feature .description .text {
  color: #888;
  font-weight: 600;
  text-align: center;
}
.feature .cta {
  margin-top: 3rem;
  color: #0075ff;
  font-weight: 600;
  text-align: center;
}

.iconDesk {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.iconDesk .icon {
  padding: 0;
  color: #0075ff;
  font-size: 10rem;
}
.iconDesk .title {
  margin-top: -2rem;
  font-size: 1.5rem;
  font-weight: 600;
}

body {
  padding: 0;
  margin: 0;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 4rem;
  border-bottom: solid 1px #ddd;
}

.logo a img {
  max-width: 7rem;
}

.secHome {
  width: 100%;
  max-width: 992px;
  margin: auto;
  padding: 3rem;
  display: flex;
  align-items: center;
}
.secHome .homeCta {
  flex: 1;
}
.secHome .homeCta .ctaText {
  color: #0075ff;
}
.secHome .homeCta .homeTitle {
  width: 20rem;
  font-size: 3rem;
}

.secFeatures {
  width: 100%;
  max-width: 992px;
  margin: auto;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.secFeatures .intro {
  text-align: center;
}
.secFeatures .intro h3 {
  font-size: 1.8rem;
}
.secFeatures .intro p {
  font-size: 0.8rem;
  color: #888;
}
.secFeatures .features {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin: auto;
}
.secFeatures .features .text {
  padding: 2rem 0;
  flex: 1;
}
.secFeatures .features .text .feature {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.secFeatures .features .text .feature .description {
  margin-left: 1rem;
  max-width: 20rem;
}
.secFeatures .features .text .feature .description .titleFeature {
  font-size: 1.15rem;
}
.secFeatures .features .text .feature .description .textFeature {
  font-size: 1rem;
}
.secFeatures .features .imagen img {
  max-width: 20rem;
}

/*# sourceMappingURL=style.css.map */
