body{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.tooltipBtn{
    position: relative;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: green;
    color:white;
    border-bottom: 2px solid darkgreen;
    cursor: pointer;
    transition: background-color 150ms;
}

.tooltipBtn:hover{
    background-color: rgb(0, 100, 0);

}

/* .tooltipBtn:hover::before{
    content: 'Esto es un tooltip';
} */

.tooltip{
    position: absolute;
    /* visibility: hidden; */
    opacity: 0;
    top: -60px;
    left: 0px;
    color: #ddd;
    background-color: #333;
    padding: 5px 10px;
    border-radius: 5px;
    transition: opacity 150ms;
}

.tooltipBtn:hover .tooltip{
    /* visibility: visible; */
    opacity: 1;
}

.tooltip::before{
    content: '';
    border: solid 10px transparent;
    border-top-color: #333;
    position: absolute;
    top: 40px;
}

/* .triangulo{
    border: solid 10px transparent;
    border-top-color: #333;
} */